@import "tailwindcss";

:root {
  --background: #F0EFE7;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-white-base: #FFFAFA;
  --color-white-base2: #F0EFE7;
  --color-white-platinum: #E5E5E5;
  --color-text-grey: #BDBDBD;
  --color-text-coldgrey: #B0B0B0;
  --color-jet-black: #1A1A1A;
  --color-jet-black2: #232323;
  --color-stone-base: #44403b;
  --color-purple-base: #7338A0
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F0EFE7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
